!!! 5
html
    head
        title Basket
    body
        div
            p: a(href="/") Home

        p: strong Your basket - #{basket_count} item(s)

        div
            ul#basket
                for book in basket
                    li
                        | #{book.id} -
                        a(href="/books/#{book.id}")=book.name
                        =' '
                        | for £ #{book.price}
                        =' '
                        form(action="/basket/delete", method="post")
                            input(type="hidden", name="bookId", value="#{book.id}")
                            input(type="submit", value="remove")

        div
            p: span(id="total") Total: #{total}

        div
            form(action="/basket/clear", method="post")
                input(id="clear_basket", type="submit", value="Clear basket")
            form(action="/checkout", method="get")
                input(id="checkout", type="submit", value="Proceed to checkout")
