!!! 5
html
    head
        title Book Details
    body
        div
            span
                a(href="/") Home
                =' | '
                a(href="/basket") basket(#{basket_count})

        dl
            dt Id:
            dd(id="book_id")=book.id

            dt Name:
            dd(id="book_name")=book.name

            dt Description:
            dd(id="book_description")=book.description

            dt Price:
            dd(id="book_price")='£' + book.price

        div
            a(href="/books/edit/#{book.id}") Change details

