!!! 5
html
    head
        title=pageName
    body

        dl
            dt Id:
            dd=book.id

            dt Name:
            dd=book.name

            dt Description:
            dd=book.description

            dt Price:
            dd='£' + book.price

        div
            span: a(href="/books") All books
